*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
img{
    vertical-align: middle;
}
.clr{
    clear: both;
}
html{
    scroll-behavior: smooth;
}

.nav_bg_color{
  background-color: rgba(63, 61, 61, 0.5);
margin-top: 30px;
  height: 50px;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 99;
 position: fixed;
top: 0;
  left: 0;
 width: 100%;
  z-index: 9999;
}
.menubar{
    position: relative;

}
.navbar-expand-lg .navbar-nav .nav-link {
margin:0 5px;
   
}
.nav_aa li a{
    
    padding: 13px 0;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
   color: white !important;
   border-bottom: 2px solid transparent;

}
.nav_aa li a:hover{
    background-color: white;
    color: black !important;
    border-bottom: 2px solid red;
}

.nav_logo_position{
    z-index: 1111111111111;
    position: absolute;
    top: 20px;
        left: 314px;
}
.menu_bg{
    background: #e95b56;
    height: 60px;
    margin-top:-4px;
    animation: fahim 1s;
    -webkit-animation: fahim 1s;
}
@keyframes fahim {
    from{ 
        top: -40px;
    }
    to {
        top: 0;
    }
}
.color_one a{
    color: black;
}
/*  back to top */.backto_top{
  position: fixed;
  right: 100px;
  bottom: 80px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 40px;
  text-align: center;
  background: #e23e38;
  color: white;
  font-size: 20px;
  cursor: pointer;

}
/*  back to top end */
/*  banner part start */


.banner_part{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 70vh;
   
}
.banner_text{
    text-align: center;
    position: relative;
}
.banner_text h2{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    padding-top: 250px;
    padding-left: 5px;
}
.banner_text h3{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #e23e38;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 5px;
}
.banner_text h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #e23e38;
    text-transform: uppercase;
    position: absolute;
    top: 321px;
    right: 35px;

}
.banner_text p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #c8c4c2;
    padding-top: 20px;
    padding: 10px 380px 0 380px;
   


}

 .banner_btn{
   padding-top: 10px;
   padding-bottom: 100px;
   
 }
.banner_btn ul li{
    display: inline-block;
    margin: 0 20px;
}

.banner_btn a{
    
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 20px;
    border: 2px solid white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: white;
}
.btn_color_2{
    background-color: transparent;
}
.btn_color{
    background-color:#e23e38 ;
}
.banner_btn a:hover{
    background: #e23e38;
}

.banner_slide{
    text-align: start;
   
}
.slid{
    padding-left: -5px;
}
.slider_btn{
 padding-top:30px;
 padding-bottom: 100px;
 position: relative;
}
.btn_slide{
    background-color: #e23e38;
    position: absolute;
    top: 35px;
    left: 0;
}
.btn_slide:hover{
    background-color: transparent;
}
.btn_slide_2{
    position: absolute;
    top: 35px;
    left: 150px;
}
.slider_btn ul li{
    display: inline-block;
 

}
.banner_slide h6{
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #c8c4c2;
    padding-top: 20px;
    padding: 10px 80px 0 0;
}
.slider_btn ul li a{
    
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 20px;
    border: 2px solid white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: white;
}
.btn_slide_2:hover{
    background-color:#e23e38 ;
}
.banner_main .slick-dots{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
}
.banner_main .slick-dots li{
    margin: 0 10px;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.banner_main .slick-dots li button{
   
    color: transparent;
    background: transparent;
    border: none;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    background: #e23e38;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 4px;
    margin-left: 4px;
    opacity: 0;
}
.banner_main .slick-dots li.slick-active button{
    opacity: 1;
}



/*  about part start */
#about{
    height: 450px;

}
.about_vedio{
    position: relative;
}
.about_overly{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
}
.about_vedio :hover{
    opacity: 1;
}
.about_vedio img{
   

   height: 100%;
   width: 100%;
}
.about{
    margin-top: 130px;
}

.Header{
    text-align: center;
}
.Header h2{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    
}
.about_text{
    text-align: center;
}
.about_text p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #9b9b9b;
    padding-top: 20px;
              
}
.about_text h6{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #9b9b9b;
    padding-top: 20px;
              
}
 .about_vedio i{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    font-size: 50px;
    color: #e23e38;
    opacity: 0;
}
.about_vedio:hover i{
    opacity: 1;
}

.gallary_header{
    margin-top: 100px;
}
/*  about part end */


/*  gallery part start */

#gallery{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
   
}

.gallery_image{
    margin: 10px 0;
}
.gallery_image img{
    height: 90%;
    width: 90%;
}
.img_one{
    margin: 30px 0;
    position: relative;
}

.gallery_overly{
    position: absolute;
    top: 18px;
    left: 16px;
    height: 92%;
    width: 82%;
    background: rgba(200, 55, 55, 0.5);
    border: 5px solid rgb(255, 255, 255,.5);
    opacity: 0;
}
.img_one :hover{
    opacity: 1;
}
.gallery_overly i{
    position: absolute;
    top: 50%;
    left: 50%;
 transform: translate(-50%);
 -webkit-transform: translate(-50%);
 -moz-transform: translate(-50%);
 -ms-transform: translate(-50%);
 -o-transform: translate(-50%);
}
.img_one :hover i{
    opacity: 1;
}
.magnifaine{
    font-size: 40px;
    color: yellow;
}
.magnifaine:hover{
    color: white;
}
/*  gallery part end */



/*  team part start */

.team_main{
    margin-top:100px;
}
.team_img img{

    height: 100%;
    width: 100%;
}
.team_text_one{
    text-align: center;
}

.team_text_one h2{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 10px;
}

.team_text_one h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #555555;
  
}
.team_text_two p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    padding: 0 30px;
    color: #555555;

}
.team_part:hover{
    border: 1px solid #dddddd;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.team_img{
    position: relative;
}
.team_overly{
    position: absolute;
    top: 16px;
    left: 16px;
    height: 92%;
    width: 90%;
    background: rgba(200, 55, 55, 0.5);
    border: 7px solid rgb(255, 255, 255,.5);
    transition: .8s;
    opacity: 0;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}
.team_part :hover .team_overly{
    opacity: 1;
}
.team_icon ul {

    padding-top: 75px;
    padding-left: 225px;
}
.team_icon ul li{
    padding: 5px 0;
}
.team_icon ul li i{
   font-size: 30px;
   color: white;
}
.team_icon ul li i:hover{
    color:#1da0f2;
}
.team_part{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}
.team_part:hover{
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}
.team_text_main .team_text_two{
  opacity: 0;
}
.team_part:hover .team_text_two{
    opacity: 1;
}
/*  team part end  */
/*  testimonial part start */
#testimonial{
 background-position:center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.testimonial_head{
    margin-bottom: 50px;
}
.tasti_img{
    margin-top: 40px;
}
.tasti_img img{
    height: 100%;
    width: 100%;
}
.testi_text{
    padding-top: 50px;
}

.testi_text h3{
   
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    
}
.testi_text h4{
   
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
  
    
}
.testimonial_icon ul{
 padding-left: none !important;
}
.testimonial_icon ul li{
    display: inline-block;

}
.testimonial_icon ul li i{
    color: #e23e38;
}
.testimonial_last_text p{

    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    padding-top: 20px;
    line-height: 24px;
} 
.testimonial_icon_2 ul li{
    display: inline-block;
}
.testimonial_icon_2 ul li i{
    color: #e23e38;
}



#testimonial .slick-dots{
   text-align: center;
   margin-right: 40px;
  }
  #testimonial .slick-dots li{
      margin: 0 8px;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  #testimonial .slick-dots li button{
    
    color: transparent;
    border: none;
    background-color: transparent;
    height: 17px;
    width: 16px;
    background: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
     opacity: 0;
}

#testimonial .slick-dots li.slick-active button{

    opacity: 1;
}
/*  testimonial part end */
/*  mamber ship part start */

.mambership_main{
    margin-top: 70px;
    text-align: center;
    
}

.mamber_top{
    padding:15px 30px;
    background: #c0c0c0;
 
  
}
.mamber_top h2{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    color: #353535;
}
.mamber_img img{
 height: 100%;
 width: 100%;
}
.mamber_middle{
    padding: 40px 40px;
    background: #eeeeee;
}
.mamber_last{
    padding: 10px 20px;

}
.mamber_img{
    position: relative;
}
.mamber_overly{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   background-color: rgba(0,0,0, 0.7);
   opacity: 0;
}
.mambership_main:hover .mamber_overly{
    opacity: 1;
}
.mambership_main:hover .mamber_top{
    background: #e23e38;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
} 
.mambership_main:hover .mamber_top h2{
    color: white;
}
.mambership_main:hover .mamber_last{
    background: #e23e38;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
.mambership_main:hover .mamber_last h5 a{
 color: white;
}
.mamber_last h5 a{
    color:#353535;
}
.mamber_overly h3{
    padding-top: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.mamber_overly span{
    padding-top: 48px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
}
.mamber_middle h3{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    padding-top: 10px;
}
.mamber_middle span{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    padding-top: 20px;
    
}
.mamber_middle h6{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    padding-top: 10px;
}
.mamber_middle h5{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    padding: 10px 0;
}
.mamber_middle h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    padding-top: 5px;
}

.mamber_last{
    padding:7px 10px;
    background: #c0c0c0;
 
  
}
.mamber_last h5{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
 
  
}
/*  ,mamber ship part end */


/*  time part start */

#time{
    margin-top: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.text_time{
 text-align: center;
 padding-top: 40px;
}
.text_time h2{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.text_time h3{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-bottom: 30px;
}
/*  time part end */

/*  class part start */
.mainn{
    padding: 45px 10px;
    background: #d3d3d3;
    text-align: center;
}

.class_button{
    text-align: center;
    margin: 40px 0;
}
.mainn:hover{
    background: #e23e38;
    color: white;
   
}
.mainn:hover h4{
    color: white;
}
.mainn:hover h5{
    color: white;
}
.class_button button{
    margin: 0 20px;
    border: none;
    padding: 10px 58px;
    background: #d3d3d3;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.class_button button:hover{
    background: #e23e38;
    color: white;

}
.mainn h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    text-transform: uppercase;
}
.mainn i{
    font-size: 45px;
    padding-top: 5px;
    animation: fahmi 4s infinite;
    -webkit-animation: fahmi 4s infinite;
}
@keyframes fahmi{
    25%   {color: #e95b56;}
    25%  {color: #3949AB;}
    50%  {color: #4CAF50;}
    100% {color: #e95b56;}
  }

.mainn h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #353535;
   padding-top: 10px;

}
.fahim{
    margin-top: 20px;
}
.class_main{
  margin-top: 5px;
}

/*  class part end */

/*  mini logos part start */

#logos{
    margin-top: 100px;
}


.logo_imges img{
    height: 100%;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.logo_imges img:hover {
    border: 2px solid #cccccc;
}




/*  mini logos part end */


/*  footer part start */
#footer{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
 
}

.footer_img_bg {
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
}
.footer_1st{
    padding-top: 30px;
}
.footer_1st h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;

}
.footer_1st:hover h4{
    color: brown;
}
.footer_1st h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    line-height: 28px;
}
.footer_1sr_2{
    padding-top: 55px;
}
.footer_1sr_2 h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    line-height: 24px;
}
.footer_2nd{
    padding-top: 28px;
}
.footer_2nd h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}
.footer_2nd p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 20px;
}
.footer_2nd h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 20px;
}
.footer_3rd_part{
    padding-top: 28px;
}
.footer_3rd_part h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}
.footer_imagess img{
    margin: 3px 2px;
}
.footer_4part{
    padding-top: 28px;
    padding-bottom: 10px;
}
.footer_4part h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}
.one i{
    font-size: 20px;
    color: #e23e38;
}
.one:hover i{
    color: white;
}
.one{
    padding: 10px;
}
.one span a{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
    padding-left: 5px;
    
}
.footer_4part h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 5px;
}
.footer_icon{
    padding-top: 5px;
   
}
.footer_icon i{
    padding-top: 5px;
    font-size: 30px;
    color: #e23e38;
    margin: 0 5px;
   
}
.footer_icon a:hover i{
    color:white;
}
.footer_lasttt{
    border-top: 1px solid white;
    padding-top: 20px;
}
.footer_lasttt h4{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
   padding-bottom: 15px;
}
.footer_lasttt span{
    color: #e23e38;
}
/*  footer part end */